<main class="row row-cols-3 justify-content-around mb-4">
    <section class="employeeFormSection greenBack">
        <h3 class="align-self-center">Uusi työntekijä</h3>
        <form method="post" action="/saveFormToDB">
            <label for="employeeName" placeholder="Nimi">Työntekijän nimi: </label>
            <input id="employeeName" type="text" name="employeeName" />
            <label for="employeePhone" placeholder="Puhelinnumero">Puhelinnumero: </label>
            <input id="employeePhone" type="text" name="phoneNumber" />
            <label for="employeeEmail" placeholder='Sähköpostiosoite'>Sähköpostiosoite: </label>
            <input id="employeeEmail" type="email" name="email" />
            <label for="employeeUsername">Käyttäjälle luotu käyttäjätunnus: </label>
            <input id="employeeUsername" type="text" name="username" />
            <input type="hidden" value="addEmployee" name="type" />
            <button type="submit" class="my-4 mx-auto">Lisää työntekijä</button>
        </form>
    </section>
    <section class="employeeFormSection greenBack">
        <h3 class="align-self-center">Muokkaa työntekijän tietoja</h3>
        <form method="post" action="/updateDB">
            <label for="selectEmployee">Valitse työntekijä</label>
            <select id="selectEmployee" name="selectedEmployee">
                <option disabled selected value> -- Valitse -- </option>

                {{#each workers}}
                <option name="employeeName" data-id={{this._id}} data-name={{this.name}}
                    data-phoneNumber={{this.phoneNumber}} data-email={{this.email}}>
                    {{this.name}}</option>
                {{/each}}
            </select>
            <label for=" editName">Työntekijän nimi: </label>
            <input id="editName" type="text" name="employeeName" value="" />
            <label for="editPhone">Puhelinnumero: </label>
            <input id="editPhone" type="text" name="phoneNumber" value="" />
            <label for="editEmail">Sähköpostiosoite: </label>
            <input id="editEmail" type="email" name="email" value="" />
            <input type="hidden" value="editEmployee" name="type" />
            <input type="hidden" id="editEmployeeHiddenInput" name="hiddenId" />
            <button type="submit" class="my-4 mx-auto">Päivitä tiedot</button>
        </form>
    </section>
    <section class="employeeFormSection greenBack">
        <h3 class="align-self-center">Poista työntekijä</h3>
        {{#each workers}}
        <form class="deleteEmployeeForm" method="post" action="/updateDB">
            <p class="my-auto">{{this.name}}</p>
            <button type="submit" value="{{this._id}}" name="idToRemove">Poista</button>
            <input type="hidden" value="removeEmployee" name="type" />
        </form>
        {{/each}}
    </section>

</main>
{{> linkAndFeedback linkHref="/assignWorksite" linkText="Siirry avoimiin työkohteisiin"}}
<script>
    document.getElementById("selectEmployee").addEventListener("change", function (e) {
        document.getElementById('editName').value = e.target.value
        document.getElementById('editPhone').value =
            e.target[e.target.options.selectedIndex].getAttribute('data-phoneNumber');
        document.getElementById('editEmail').value = e.target[e.target.options.selectedIndex].getAttribute('data-email');
        document.getElementById('editEmployeeHiddenInput').value =
            e.target[e.target.options.selectedIndex].getAttribute('data-id')
    })

    document.getElementById("employeeName").addEventListener("focusout", function (e) {
        let newUserName = e.target.value.toLowerCase()
        newUserName = newUserName.substring(0, 3) + newUserName.substring(newUserName.length - 3, newUserName.length) +
            Math.floor(Math.random() * 999)
        document.getElementById("employeeUsername").value = newUserName
    })

</script>