<main id="openWorksTable">
    <section id="openWorks">
        <table class="table table-striped table-bordered greenBack mx-auto">
            <caption class="greenBack">
                <h3>Avoimet työkohteet</h3>
            </caption>
            <thead class="thead-dark">
                <tr>
                    <th>Päivämäärä</th>
                    <th>Asiakas</th>
                    <th>Puhelinnumero</th>
                    <th>Sähköpostiosoite</th>
                    <th>Työtehtävät</th>
                    <th>Lisätiedot</th>
                    <th>Poista työ</th>
                    <th>Valitse työntekijä</th>
                </tr>
            </thead>
            <tbody>
                {{#each openWorksites}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.customerName}}</td>
                    <td>{{this.phoneNumber}}</td>
                    <td>{{this.email}}</td>
                    <td>{{#each this.tasks}}
                        {{this}}<br>
                        {{/each}}</td>
                    <td>{{this.additionalInformation}}</td>
                    <td class="text-center"><input class="worksiteToDelete d-inline-block" value={{this._id}}
                            type="checkbox">
                    </td>
                    <td>
                        <select class="workerOption" name="Valitse">
                            <option disabled selected value> -- Valitse -- </option>
                            {{#each ../workers}}
                            <option value={{this._id}} data-date={{../date}} data-customer={{../customerName}}
                                data-chores={{../tasks}}>
                                {{this.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <button onclick=deleteWorksites()>Poista valitut työkohteet</button>
        <button onclick=assignWorks()>Lisää määritetyt työt työntekijöille</button>
        <p id="responseMessage"></p>
    </section>
</main>





<script>
    async function deleteWorksites() {
        let idsToRemove = [];
        let worksiteCheckboxes = document.getElementsByClassName('worksiteToDelete')
        Array.from(worksiteCheckboxes).map((checkbox) => {
            if (checkbox.checked) {
                idsToRemove.push(checkbox.value)
            }
        })

        const response = await fetch('/deleteWorksite', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(idsToRemove)
        });

        const data = await response.json();
        document.getElementById('responseMessage').innerHTML = data.message
    }

    async function assignWorks() {
        let toBeAssigned = []
        let workerSelects = document.getElementsByClassName('workerOption')
        Array.from(workerSelects).map((select) => {
            Array.from(select).map((option) => {
                if (option.selected && option.label != "-- Valitse --") {
                    let newAssignedWork = {
                        date: option.dataset.date,
                        customer: option.dataset.customer,
                        chores: option.dataset.chores,
                        workerId: option.value
                    }
                    toBeAssigned.push(newAssignedWork)
                }
            })
        })
        const response = await fetch('/assignWorksite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(toBeAssigned)
        });

        const data = await response.json();
        document.getElementById('responseMessage').innerHTML = data.message
    }

</script>