<section class="worklist">
        <form id="worklist">
            <fieldset class="worklist">
                <div class="list-group">
                    <legend><h2>Seuraavat työkohteet</h2></legend>
                    <ul "list-group-item list-group-item-action flex-column align-items-start active"></ul>
                    {{#each AppointedWorksites}}
                        <li class="list-group-item">{{this.date}}
                        <p><b>Asiakas:</b> {{{this.customerName}}}</p>
                        <p><b>Puhelin:</b>{{{this.phoneNumber}}}</p>
                        <p><b>Osoite:</b> {{{this.address}}}</p>
                        <p><b>Kunta:</b> {{{this.city}}}</p>
                        <p><b>Työkohteen tehtävät:</b> {{{this.chores}}}</p></li>
                    {{/each}}
                </ul>               
                </div>
            </fieldset>
        </form>
</section>
<section class="worksiteForecast">
        <form id="worksiteForecast">
            <fieldset class="worksiteForecast"> 
                <aside>
                    <legend>
                        <h3>Työkohteen sääennuste</h3>
                    </legend>

                </aside>
            </fieldset>
        </form>
    </section>