<main id="worklist">
    <section class="worklist">
        <form id="worklist">
             <table>
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Work Address</th>
                <th>City</th>
                <th>Tasks</th>
                <th>Additional Information</th>
            </tr>
        </thead>
        <tbody>
            {{#each AppointedWorksites}}
            <tr>
                <td>{{phoneNumber}}</td>
                <td>{{workAddress}}</td>
                <td>{{city}}</td>
                <td>{{tasks}}</td>
                <td>{{additionalInformation}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
        </form>
    </section>
    <section class="worksiteForecast">
        <form id="worksiteForecast">
            <fieldset class="worksiteForecast"> 
                <aside>
                    <legend>
                        <h3>Työkohteen sääennuste</h3>
                    </legend>
                </aside>
            </fieldset>
        </form>
    </section>
</main>

