<main id="WorksTable" class="row mb-4 px-3">
    <table class="table table-sm table-striped table-bordered greenBack p-1 m-0 col-8">
        <caption class="greenBack">
            <h3>Hei {{workerName}}</h3>
            <p>Ohessa seuraavat työkohteesi:</p>
        </caption>
            <tr>
                <th>Päivämäärä</th>
                <th>Asiakas</th>
                <th>Puhelinnumero</th>
                <th>Osoite</th>
                <th>Paikkakunta</th>
                <th>Työtehtävät</th>
                <th>Lisätiedot</th>
            </tr>
        </thead>
       <tbody>
            {{#each Worksite}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.customerName}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.workAddress}}</td>
                <td>{{this.postalCode}} {{this.city}}</td>
                <td>{{#each this.tasks}}
                    {{this}}<br>
                    {{/each}}</td>
                <td>{{this.additionalInformation}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <aside id="forecast">
    
    </aside>
</main>