<main>
    <section class="container greenBack">
        <article class="row">
            <div class="col-md-5">
                <img src="{{{backGroundImage}}}" id="plantInfoImage" alt="">
                <h3>{{{plantInfo.name}}}</h3>
            </div>
            <div class="col-md-7">
                <p class="feature">Latinankielinen nimi:</p>
                <p>{{{plantInfo.scientificName}}}</p>
                <p class="feature">Valontarve:</p>
                <p>{{{plantInfo.light}}}</p>
                <p class="feature">Kastelu:</p>
                <p>{{{plantInfo.watering}}}</p>
                <p class="feature">Lisääminen:</p>
                <p>{{{plantInfo.propagation}}}</p>
            </div>
        </article>
    </section>
</main>