<main id="workIntakeMainContent" class="greenBack addWorkSection p-2">
    <p class="description px-4">Ympäristösyistä laskutamme vain sähköpostitse. Lisätietoja kohtaan voit kirjata töitä,
        joita ei listasta löydy. Voit kirjata myös erityistä huomiota vaativia asioita.</p>
    {{!-- If form is posted with errors, fields are filled with given values of formData --}}
    <form id="addWorkForm" class="form-row d-flex justify-content-center" action="/addWork" method="post">

        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto form-group">Tilaajan tiedot</legend>
                <label for="name">Nimi:</label>
                <input name="customerName" id="name" type="text" class="form-control border-secondary" required="true"
                    value="{{{formData.customerName}}}">
                <label for="phone">Puhelinnumero:</label>
                <input name="phoneNumber" id="phone" type="text" class="form-control border-secondary" required="true"
                    value="{{{formData.phoneNumber}}}">
                <label for="email">Sähköposti:</label>
                <input name="email" id="email" type="text" class="form-control border-secondary" required="true"
                    value="{{{formData.email}}}">
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto ">Kohteen tiedot</legend>
                <label for="address">Kohteen osoite:</label>
                <input name="workAddress" id="address" type="text" class="form-control border-secondary" required="true"
                    value="{{{formData.workAddress}}}">
                <label for="postalCode">Postinumero:</label>
                <input name="postalCode" id="postalCode" type="text" class="form-control border-secondary"
                    required="true" value="{{{formData.postalCode}}}">
                <label for="city">Paikkakunta:</label>
                <input name="city" id="city" type="text" class="form-control border-secondary" required="true"
                    value="{{{formData.city}}}">
                <label for="date">Haluttu päivämäärä työn suorittamiselle</label>
                <input name="date" id="date" type="date" class="form-control border-secondary" required="true"
                    value="{{{formData.date}}}">
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto form-group">Tilattavat työt</legend>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="haravointi" value="Haravointi" {{#if formData}}{{#contains
                        formData.tasks "Haravointi" }}{{/contains}}{{/if}} name="tasks" class="workIntakeCheckbox" />
                    <label for="haravointi" class="ml-3 worksToBeDoneLabel">Haravointi</label>
                </div>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="nurmikonleikkaus" value="Nurmikonleikkaus" {{#if formData}}{{#contains
                        formData.tasks "Nurmikonleikkaus" }}{{/contains}}{{/if}} name="tasks"
                        class="workIntakeCheckbox" />
                    <label for="nurmikonleikkaus" class="ml-3 worksToBeDoneLabel" />Nurmikonleikkaus</label>
                </div>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="istutustyö" value="Istutustyö" {{#if formData}}{{#contains
                        formData.tasks "Istutustyö" }}{{/contains}}{{/if}} name="tasks" class="workIntakeCheckbox" />
                    <label for="istutustyö" class="ml-3 worksToBeDoneLabel">Istutustyö</label>
                </div>

                <div class="custom-control custom-checkbox pl-0 py-2 mb-2">
                    <input type="checkbox" id="rikkaruohojenKitkentä" value="Rikkaruohojen kitkentä" {{#if
                        formData}}{{#contains formData.tasks "Rikkaruohojen kitkentä" }}{{/contains}}{{/if}}
                        name="tasks" class="workIntakeCheckbox" />
                    <label for="rikkaruohojenKitkentä" class="ml-3 worksToBeDoneLabel">Rikkaruohojen
                        kitkentä</label>
                </div>
                <div>
                    <label for="lisätietoja" class="form-label worksToBeDoneLabel">Muita toiveita tai
                        lisätietoja:</label>
                    <textarea name="additionalInformation" id="lisätietoja" class="form-control"
                        rows="3">{{#if formData}}{{{formData.additionalInformation}}}{{/if}}</textarea>
                </div>
            </fieldset>
        </div>

        <section>
            <p>{{{message}}}</p>
            <button type="submit" id="makeWorkOrder">Tilaa puutarhuri</button>
        </section>
    </form>
</main>