<main id="workIntakeMainContent" class="greenBack addWorkSection p-2">
    <p class="description px-4">Ympäristösyistä laskutamme vain sähköpostitse. Lisätietoja kohtaan voit kirjata töitä,
        joita ei listasta löydy. Voit kirjata myös erityistä huomiota vaativia asioita.</p>
    {{!-- If form is posted with errors, fields are filled with given values of formData --}}
    <form id="addWorkForm" class="form-row d-flex justify-content-center" action="/addWork" method="post">

        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto form-group">Tilaajan tiedot</legend>
                <label for="name">Nimi:</label>
                <input name="customerName" id="name" type="text" class="form-control" required="true"
                    value="{{{formData.customerName}}}" aria-descripedby="customerNameError">
                <span id="customerNameError"></span>
                <label for="phone">Puhelinnumero:</label>
                <input name="phoneNumber" id="phone" type="text" class="form-control" required="true"
                    value="{{{formData.phoneNumber}}}" aria-descripedby="phoneError">
                <span id="phoneNumberError"></span>
                <label for="email">Sähköposti:</label>
                <input name="email" id="email" type="text" class="form-control" required="true"
                    value="{{{formData.email}}}" aria-descripedby="emailError">
                    <span id="emailError"></span>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto ">Kohteen tiedot</legend>
                <label for="address">Kohteen osoite:</label>
                <input name="workAddress" id="address" type="text" class="form-control" required="true"
                    value="{{{formData.workAddress}}}" aria-descripedby="workAddressError">
                <span id="workAddressError"></span>
                <label for="postalCode">Postinumero:</label>
                <input name="postalCode" id="postalCode" type="text" class="form-control" required="true"
                    value="{{{formData.postalCode}}}" aria-descripedby="postalCodeError">
                <span id="postalCodeError"></span>
                <label for="city">Paikkakunta:</label>
                <input name="city" id="city" type="text" class="form-control" required="true"
                    value="{{{formData.city}}}" aria-descripedby="cityError">
                <span id="cityError"></span>
                <label for="date">Haluttu päivämäärä työn suorittamiselle</label>
                <input name="date" id="date" type="date" class="form-control" required="true"
                    value="{{{formData.date}}}" aria-descripedby="dateError">
                <span id="dateError"></span>
                
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto form-group">Tilattavat työt</legend>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="haravointi" value="Haravointi" {{#if formData}}{{#contains
                        formData.tasks "Haravointi" }}{{/contains}}{{/if}} name="tasks" class="workIntakeCheckbox" />
                    <label for="haravointi" class="ml-3 worksToBeDoneLabel">Haravointi</label>
                </div>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="nurmikonleikkaus" value="Nurmikonleikkaus" {{#if formData}}{{#contains
                        formData.tasks "Nurmikonleikkaus" }}{{/contains}}{{/if}} name="tasks"
                        class="workIntakeCheckbox" />
                    <label for="nurmikonleikkaus" class="ml-3 worksToBeDoneLabel" />Nurmikonleikkaus</label>
                </div>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="istutustyö" value="Istutustyö" {{#if formData}}{{#contains
                        formData.tasks "Istutustyö" }}{{/contains}}{{/if}} name="tasks" class="workIntakeCheckbox" />
                    <label for="istutustyö" class="ml-3 worksToBeDoneLabel">Istutustyö</label>
                </div>

                <div class="custom-control custom-checkbox pl-0 py-2 mb-2">
                    <input type="checkbox" id="rikkaruohojenKitkentä" value="Rikkaruohojen kitkentä" {{#if
                        formData}}{{#contains formData.tasks "Rikkaruohojen kitkentä" }}{{/contains}}{{/if}}
                        name="tasks" class="workIntakeCheckbox" />
                    <label for="rikkaruohojenKitkentä" class="ml-3 worksToBeDoneLabel">Rikkaruohojen
                        kitkentä</label>
                </div>
                <div>
                    <label for="lisätietoja" class="form-label worksToBeDoneLabel">Muita toiveita tai
                        lisätietoja:</label>
                    <textarea name="additionalInformation" id="lisätietoja" class="form-control"
                        rows="3" aria-descripedby="additionalInformationError">{{#if formData}}{{{formData.additionalInformation}}}{{/if}}</textarea>
                    <span id="additionalInformationError"></span>
                    
                </div>
            </fieldset>
        </div>

        <section>
            <p id="errorMessage">{{{message}}}</p>
            <button type="submit" id="makeWorkOrder">Tilaa puutarhuri</button>
        </section>
    </form>
</main>

<script>
    var errorData = {{{errors}}}
      errorData.forEach((error) => {
        let falseInput = document.getElementsByName(error.path)
        let errorMessage = document.getElementById(`${error.path}Error`)
        errorMessage.textContent= error.message;
        errorMessage.setAttribute("class", "warningText");
        falseInput[0].setAttribute("style", "border: 2px solid red;");
      })



</script>

 {{!-- let errors = {{{ allErrorData }}}.json
     console.log(errors) --}}
 {{!-- let errorFields = "{{{ errorFields }}}"
    errorFields.split(',').forEach((errorField) => {
        let falseInput = document.getElementsByName(errorField)
        console.log(falseInput)
        falseInput[0].setAttribute("style", "border: 2px solid red;");
    }) --}}