<main id="workIntakeMainContent" class="greenBack addWorkSection p-2 my-auto">
    <p class="description px-4">Ympäristösyistä laskutamme vain sähköpostitse. Lisätietoja kohtaan voit kirjata töitä,
        joita ei listasta löydy. Voit kirjata myös erityistä huomiota vaativia asioita. Tähdellä (*) merkityt kentät
        ovat pakollisia.</p>
    {{!-- If form is posted with errors, fields are filled with given values of formData --}}
    <form id="addWorkForm" class="form-row d-flex justify-content-center" action="/addWork" method="post">
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto form-group">Tilaajan tiedot</legend>
                <label for="name"><span aria-hidden="true">*</span>Nimi:</label>
                <input name="customerName" id="name" type="text" class="form-control" required="true"
                    value="{{{formData.customerName}}}" aria-describedby="customerNameError" aria-required="true">
                <span id="customerNameError"></span>
                <label for="phone"><span aria-hidden="true">*</span>Puhelinnumero:</label>
                <input name="phoneNumber" id="phone" type="text" class="form-control" required="true"
                    value="{{{formData.phoneNumber}}}" aria-describedby="phoneNumberError" aria-required="true">
                <span id="phoneNumberError"></span>
                <label for="email"><span aria-hidden="true">*</span>Sähköposti:</label>
                <input name="email" id="email" type="text" class="form-control" required="true"
                    value="{{{formData.email}}}" aria-describedby="emailError" aria-required="true">
                <span id="emailError"></span>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto ">Kohteen tiedot</legend>
                <label for="address"><span aria-hidden="true">*</span>Kohteen osoite:</label>
                <input name="workAddress" id="address" type="text" class="form-control" required="true"
                    value="{{{formData.workAddress}}}" aria-describedby="workAddressError" aria-required="true">
                <span id="workAddressError"></span>
                <label for="postalCode"><span aria-hidden="true">*</span>Postinumero:</label>
                <input name="postalCode" id="postalCode" type="text" class="form-control" required="true"
                    value="{{{formData.postalCode}}}" aria-describedby="postalCodeError" aria-required="true">
                <span id="postalCodeError"></span>
                <label for="city"><span aria-hidden="true">*</span>Paikkakunta:</label>
                <input name="city" id="city" type="text" class="form-control" required="true"
                    value="{{{formData.city}}}" aria-describedby="cityError" aria-required="true">
                <span id="cityError"></span>
                <label for="date"><span aria-hidden="true">*</span>Haluttu päivämäärä työn suorittamiselle</label>
                <input name="date" id="date" type="date" class="form-control" required="true"
                    value="{{{formData.date}}}" aria-describedby="dateError" aria-required="true">
                <span id="dateError"></span>

            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="border p-3 m-1 border-secondary workIntakeFieldset">
                <legend class="w-auto form-group">Tilattavat työt</legend>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="haravointi" value="Haravointi" {{#if formData}}{{#contains
                        formData.tasks "Haravointi" }}{{/contains}}{{/if}} name="tasks" class="workIntakeCheckbox" />
                    <label for="haravointi" class="ml-3 worksToBeDoneLabel">Haravointi</label>
                </div>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="nurmikonleikkaus" value="Nurmikonleikkaus" {{#if formData}}{{#contains
                        formData.tasks "Nurmikonleikkaus" }}{{/contains}}{{/if}} name="tasks"
                        class="workIntakeCheckbox" />
                    <label for="nurmikonleikkaus" class="ml-3 worksToBeDoneLabel">Nurmikonleikkaus</label>
                </div>
                <div class="custom-control custom-checkbox pl-0 py-2">
                    <input type="checkbox" id="istutustyö" value="Istutustyö" {{#if formData}}{{#contains
                        formData.tasks "Istutustyö" }}{{/contains}}{{/if}} name="tasks" class="workIntakeCheckbox" />
                    <label for="istutustyö" class="ml-3 worksToBeDoneLabel">Istutustyö</label>
                </div>

                <div class="custom-control custom-checkbox pl-0 py-2 mb-2">
                    <input type="checkbox" id="rikkaruohojenKitkentä" value="Rikkaruohojen kitkentä" {{#if
                        formData}}{{#contains formData.tasks "Rikkaruohojen kitkentä" }}{{/contains}}{{/if}}
                        name="tasks" class="workIntakeCheckbox" />
                    <label for="rikkaruohojenKitkentä" class="ml-3 worksToBeDoneLabel">Rikkaruohojen
                        kitkentä</label>
                </div>
                <div>
                    <label for="lisätietoja" class="form-label worksToBeDoneLabel">Muita toiveita tai
                        lisätietoja:</label>
                    <textarea name="additionalInformation" id="lisätietoja" class="form-control" rows="3"
                        aria-describedby="additionalInformationError">{{#if formData}}{{{formData.additionalInformation}}}{{/if}}</textarea>
                    <span id="additionalInformationError"></span>

                </div>
            </fieldset>
        </div>
        <section class="w-100 text-center">
            <p id="feedbackMessage" tabindex="-1">{{{message}}}</p>
            <button type="submit" id="makeWorkOrder" class="mx-auto">Tilaa puutarhuri</button>
        </section>
    </form>
</main>

<script>
    var hasErrors = {{{ unsuccesfull }}}
    var isWorkSaved = {{{ succesfull }}}

    if (hasErrors) {
        console.log("error")
        var decodedErrors = decodeURIComponent('{{{ errors }}}');
        var errorData = JSON.parse(decodedErrors);

        errorData.forEach((error) => {
            let falseInput = document.getElementsByName(error.path)
            let errorMessage = document.getElementById(`${error.path}Error`)
            errorMessage.textContent = error.message;
            errorMessage.setAttribute("class", "warningText");
            falseInput[0].setAttribute("style", "border: 2px solid red;");
            document.getElementById('feedbackMessage').setAttribute('aria-live', 'assertive');
            document.getElementById('feedbackMessage').focus();
        })
        document.getElementsByName(errorData[0].path)[0].focus()
    }
    if (isWorkSaved || hasErrors) {
        document.getElementById('feedbackMessage').setAttribute('aria-live', 'assertive');
        document.getElementById('feedbackMessage').focus();
    }
</script>